.node-form {
  max-width: 100% !important;
}

.overlay-modal {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 500px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.199);
}

.product-success,
.product-success:hover {
  background-color: rgba(31, 236, 31, 0.144) !important;
}

.product-warning,
.product-warning:hover {
  background-color: rgba(255, 166, 0, 0.144) !important;
}

.field--name-field-product {
  display: flex;
}

.quote-parameters {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #ffffff6c;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: center;
}

.quote-parameters .total-quote {
  background-color: #00ffff2b;
  line-height: 1;
  border: 1px solid #eee;
}

.total-quote,
.total-trm {
  text-align: right;
  display: flex;
  gap: 10px;
  padding: 0px 5px;
}

.quote-parameters--totals{
  display: flex;
  gap:5px;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.toggle-btn svg {
  height: 40px;
  width: 40px;
}

.collapse {
  width: 30px;
}

.collapse .bar-left {
  display: none;
}

.collapse .toggle-btn svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.paragraph-type--items:hover .quote-sale{
  display: grid;
}

.paragraphs-icon-button {
  display: none !important;
}

.form-type--checkbox {
  display: flex;
  gap: 10px;
}

.error-quote--content {
  margin-top: -15px;
}

.error-quote--content p {
  color: #ffffff;
  background-color: red;
  padding: 5px 10px;
}

.quote-sale{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 20px;
}



@media (max-width: 768px) {
  .quote-parameters {
    padding: 6px 10px;
    font-size: 14px;
  }
}
