.gin-sticky-form-actions--preprocessed{
    background-color: #FFC700 !important;
}

.toolbar-menu-administration .toolbar-icon-default{
    background-color: #FFC700;
    height: 53px !important;
}

.toolbar-menu-administration .menu-item__tools{
    padding-top: 5px;
    padding-bottom: 5px;
}


.node-form {
  width: 4280px !important;
}