.region-sticky{
    background-color: #FFC700 !important;
}

.toolbar-menu-administration .menu-item__tools{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

/* logo */
.menu-item__tools img{
    width: 40px !important;
    background-color: #FFC700;
    padding: 5px;
}

.provetecmar h1{
    font-size: 52px;
    font-weight: 600;
    line-height: 15px;
}

.provetecmar h3{
    font-weight: 400;
}

.provetecmar p{
    line-height: 10px;
}

.provetecmar table{
    max-width: 1080px;
}

.provetecmar .quote{
    margin-top: 60px;
}

.provetecmar .quote-header--number{
    text-align: right;
    padding-right: 25px;
}

.provetecmar .quote-header{
    max-width: 550px;
}

.paragraphs-subform .flex{
    display: flex;
    gap: 5px;
}

.paragraphs-subform .field--type-boolean{
    display: flex;
    align-items: center;
}

.paragraphs-subform .field--type-boolean label{
    display: none;
}

.node--unpublished{
    background-color: transparent !important;
}

.js-form-item-field-requests-send-value .form-boolean--type-checkbox, .js-form-item-field-requests-send-value .form-item__label{
    display: none !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #ccc;
  border-top: 8px solid #0074d9; /* color principal */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
