.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
}

.dashboard-views{
    display: flex;
    flex-wrap: wrap;
}

.dashboard-views--charts{
    justify-content: space-between;
    display: flex;
}

.total-views--panel_blue{
    border-color: aqua;
}

